<div>
    <!-- <h1>דף הבית</h1> -->
    <app-tabs>
        <app-tab [tabTitle]="'Modals'">
            <app-button [label]="translations.custModalCaption1" [primary]="true" [color]="'btn-primary'" (onClick)="openDragModal('custom-modal-1')"></app-button>
            <app-button [label]="translations.custModalCaption2" [primary]="true" [color]="'btn-primary'" (onClick)="openModal('custom-modal-2')"></app-button>

            <app-modal-draggable id="custom-modal-1">
                <div class="ico-close">
                    <i class="material-icons" (click)="closeDragModal('custom-modal-1')">close</i>
                  </div>
                <h1>חלון מודאלי נגרר</h1>
                <p>דף הבית מלל: </p>
                <app-button [label]="translations.closeCaption" [color]="'btn-primary'" (onClick)="closeDragModal('custom-modal-1')"></app-button>
            </app-modal-draggable>
            
            <app-modal id="custom-modal-2">
                <div class="ico-close">
                    <i class="material-icons" (click)="closeModal('custom-modal-2')">close</i>
                  </div>
                <h1>חלון מודאלי יציב גבוה</h1>
                <div class="big-window">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque dolorum possimus aut! Deleniti suscipit minima aliquid, porro, quibusdam a quaerat mollitia dolores commodi molestiae omnis quo? Est vel sequi aliquid.
                    </p>
                </div>
                <app-button [label]="translations.closeCaption" [primary]="true" [color]="'btn-primary'" (onClick)="closeModal('custom-modal-2')"></app-button>
            </app-modal>
            
        </app-tab>
        <app-tab tabTitle="Input">
            <app-input></app-input>
        </app-tab>
        <app-tab tabTitle="Select">
            <app-select></app-select>
        </app-tab>
        <app-tab tabTitle="Textarea">
            <app-textarea></app-textarea>
        </app-tab>
        <app-tab tabTitle="Tooltips">            
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr>
                        <td><app-tooltips [text]="'Jonn'" [tooltipText]="'Jonn'"></app-tooltips></td>
                        <td><app-tooltips [text]="'Smith'" [tooltipText]="'Smith'"></app-tooltips></td>
                        <td><app-tooltips [text]="'32'" [tooltipText]="'32'"></app-tooltips></td>
                    </tr>
                    <tr>
                        <td><app-tooltips [text]="'Henry'" [tooltipText]="'Henry'"></app-tooltips></td>
                        <td><app-tooltips [text]="'Ford'" [tooltipText]="'Ford'"></app-tooltips></td>
                        <td><app-tooltips [text]="'60'" [tooltipText]="'60'"></app-tooltips></td>
                    </tr>
                    <tr>
                        <td><app-tooltips [text]="'Sofi'" [tooltipText]="'Sofi'"></app-tooltips></td>
                        <td><app-tooltips [text]="'Loren'" [tooltipText]="'Loren'"></app-tooltips></td>
                        <td><app-tooltips [text]="'55'" [tooltipText]="'55'"></app-tooltips></td>
                    </tr>
                </tbody>
            </table>
        </app-tab>
    </app-tabs>
    <!--<div class="input-controls"></div>-->
</div>

