.storybook-button {
    display: inline-block;
    padding: .4rem 1.3rem;    
    cursor: pointer;
    margin: 1rem;
    transition: opacity .2s;
    outline: none;
    font-weight: bold;
    
    &:disabled {
        background: #333333;
        color: #fff;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: 0.5;
    }
}

.storybook-button--primary {
    background: #2cd5c4;
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    
    &:disabled {
        background: #333333;
        color: #fff;
        cursor: not-allowed;
    }
}
.storybook-button--secondary {
    color: #2cd5c4;
    background-color: #000;
    border: 2px solid #2cd5c4;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    
    &:disabled {
        background: #333333;
        color: #fff;
        cursor: not-allowed;
    }
}

.storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
}
.storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
}

