
.btn-primary {
    display: inline-block;
    background: var(--primary-color);
    color: var(--black-color);
    padding: .4rem 1.3rem;
    border: 2px solid var(--black-color);
    cursor: pointer;
    margin: 1rem;
    transition: opacity .2s;
    outline: none;
    font-weight: bold;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

    &:disabled {
        background: var(--dark-color);
        color: var(--white-color);
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: 0.5;
    }
}


