@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=utils');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --primary-color: #2cd5c4;
    --second-color: #d4d4d4;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --black-color: #000; 
    --white-color: #fff;
}

$max-width: 100rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--white-color);
    color: var(--dark-color);
    direction: rtl;
}

a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        color: #666;
    }
}

ul {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    padding: .4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: .5rem;
}

.container {
    max-width: calc(#{$max-width} + .7rem);
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

table th {
    background: var(--light-color);
}

.btn-block {
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
}

/*****TOOLTIP******/

// .tooltip-container {
//     text-align: center;
//     z-index: 100;
//     position: fixed;
//     padding: 6px 12px;
//     font-size: 0.66rem;
//     font-weight: 600;
//     line-height: initial;
//     color: white;
//     width: auto;
//     background: #111111ee;
//     box-sizing: border-box;
//     opacity: 0;
//     transform: translate(-50%, -30%);
//     animation: tooltip-slide 0.18s ease-out 0.5s;
//     animation-fill-mode: forwards;
//     pointer-events: none;
//   }
  
//   @keyframes tooltip-slide {
//   0% {
//     opacity: 0;
//     transform: translate(-50%, -30%);
//   }
//   100% {
//     opacity: 1;
//     transform: translate(-50%, 0);
//   }
// }
.tooltip-example {
    text-align: center;
    padding: 0 50px;
  }
  .tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
  }
  .ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }

/*****END TOOLTIP******/