@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=utils');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --primary-color: #2cd5c4;
    --second-color: #d4d4d4;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --black-color: #000; 
    --white-color: #fff;
}

$max-width: 100rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-color);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--white-color);
    color: var(--dark-color);
    direction: rtl;
}

a {
    color: var(--primary-color);
    text-decoration: none;

    &:hover {
        color: #666;
    }
}

ul {
    list-style: none;
}

input {
    display: block;
    width: 100%;
    padding: .4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: .5rem;
}

.container {
    max-width: calc(#{$max-width} + .7rem);
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

table th {
    background: var(--light-color);
}

.btn-block {
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
}
